@model Playground.Models.EmployeeSearchResultsModel

@{
    ViewBag.Title = "Results";
}
<div id="header">
    <h2>Employee Search Results</h2>
</div>
<table id="search-results">
    <thead>
        <tr>
            <th id="FirstName">First Name</th>
            <th id="LastName">Last Name</th>
            <th id="Organization">Organization</th>
            <th id="JobTitle">Position</th>
            <th id="Address">Address</th>
            <th id="City">City</th>
            <th id="State">State</th>
            <th id="ZipCode">ZipCode</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.SearchResults.Count; i++)
        {
            var employee = Model.SearchResults[i];
            var odd = (i%2 == 1); 
        <tr @if(odd){<text>class="odd"</text>}>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.Organization</td>
            <td>@employee.JobTitle</td>
            <td>@employee.Address</td>
            <td>@employee.City</td>
            <td>@employee.State</td>
            <td>@employee.ZipCode</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8"></td>
        </tr>
    </tfoot>
</table>